.btn {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid navy;
  width: 150px;
  height: 40px;
  font-size: 12pt;
}

.btn:hover {
  background-color: green;
  color: white;
}

.active {
  background-color: green;
  color: white;
}
