<div class="main-container">
  <h1>REST-aurante</h1>

  <!-- Toggle Mode Switch -->
  <div class="mode-switch">
    <label class="switch">
      <input type="checkbox" (change)="toggleMode($event)">
      <span class="slider"></span>
    </label>
    <span class="mode-label">{{ mode }}</span>
  </div>

  <!-- Navigation Buttons -->
  <div class="navigation-buttons">
    <!-- Buttons for Cliente Mode -->
    <div class="btn-container" id="cliente-btns" *ngIf="isClienteMode">
      <button class="btn" routerLink="ementas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Ementas</button>
      <button class="btn" routerLink="encomendas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Encomendas</button>
      <button class="btn" routerLink="criar-encomenda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Criar Encomenda</button>
      <button class="btn" routerLink="consultar-cliente" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Escolher Cliente</button>
      <button class="btn" routerLink="carregar-conta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Carregar Conta</button>
    </div>

    <!-- Buttons for Chef Mode -->
    <div class="btn-container" id="chef-btns" *ngIf="!isClienteMode">
      <button class="btn" routerLink="criar-prato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Criar Prato</button>
      <button class="btn" routerLink="modificar-prato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Modificar prato</button>
      <button class="btn" routerLink="criar-refeicao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Criar Refeição</button>
      <button class="btn" routerLink="delete-refeicao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Apagar Refeição Futura</button>
    </div>
  </div>

  <!-- Child Routes Will Render Here -->
  <router-outlet></router-outlet>
</div>
