.main-container {
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: navy;
  font-size: 36px;
  margin-bottom: 20px;
}

/* Estilo para o botão de voltar */
.navigation-buttons {
  margin-bottom: 20px;
}

.navigation-buttons .btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.navigation-buttons .btn:hover {
  background-color: #45a049;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
} 

/* Toggle Switch */
.toggle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: purple;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:darkcyan ;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.mode-label {
  margin-left: 10px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.mode-switch {
  display: flex;
  align-items: center;
}

/* Lista de funcionalidades */
.us-list {
  margin: 20px;
}

.us-list h2 {
  font-size: 24px;
  color: navy;
}

.us-list ul {
  list-style-type: none;
  padding: 0;
}

.us-list li {
  font-size: 18px;
  margin: 5px 0;
}

.btn {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid navy;
  width: auto;
  padding: 0px 10px;
  height: 40px;
  font-size: 14pt;
}

.btn:hover {
  background-color: green;
  color: white;
}

.active {
  background-color: green;
  color: white;
}


#cliente-btns button {
  background-color: purple;
}

#chef-btns button {
  background-color: darkcyan;
}