<div class="container">
  <h2>Modificar Pratos</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Ativo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prato of allPratos" [class.selected]="selectedPrato?.id === prato.id">
        <td>{{ prato.id }}</td>
        <td>{{ prato.nome }}</td>
        <td>{{ prato.tipoPrato.nome }}</td>
        <td>{{ prato.isAtivo ? 'Sim' : 'Não' }}</td>
        <td>
          <button
            class="action-button"
            [class.activate]="!prato.isAtivo"
            [class.deactivate]="prato.isAtivo"
            (click)="prato.isAtivo ? deactivatePrato(prato.id) : activatePrato(prato.id)"
          >
            <span *ngIf="prato.isAtivo">Desativar</span>
            <span *ngIf="!prato.isAtivo">Ativar</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
