
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.btn {
  transition-duration: 0.4s;
  background-color: #d4a5d8;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  height: auto;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b18bb8;
  color: white;
  transform: translateY(-2px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: purple;
  color: white;
  font-weight: bold;
}

tr :nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  h2 {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 14px;
  }
}
