*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #prato-form {
    padding: 0px 25px;
  }

  /* Estilização do título */
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Estilização dos labels */
  label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
  }
  
  /* Estilização dos inputs e textarea */
  input[type='text'],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input[type='text']:focus,
  textarea:focus,
  select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Botão de submissão */
  button {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: darkcyan;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgb(1, 102, 102);
  }
  
  /* Estilização do alerta */
  .alert {
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
  }
  
  .alert.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }  